# Code Owners for IT PowerShell Utilities
# These owners will be automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @accelins/cloud-security-engineering

# Teams External Access scripts
/Teams/ExternalAccess/ @accelins/cloud-security-engineering
